version: '3'

services:
  ui:
    container_name: app-ui
    image: 'ivaantorres/real-time-chat-app:${UI_VERSION}'
    ports:
      - '80:80'

  api:
    container_name: app-api
    image: 'ivaantorres/api-real-time-chat-app:${API_VERSION}'
    depends_on:
      - mongodb
    environment:
      - DB_CONNECTION=mongodb
      - DB_HOST=mongodb:${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_PARAMS=${DB_PARAMS}
      - PORT=${PORT}
    ports:
      - '${PORT}:3000'

    mongodb:
      container_name: mongo
      image: 'mongo:5.0.6'
      ports:
        - '${DB_PORT}:27017'
      volumes:
        - '/c/data/db:/data/db'
      logging:
        driver: none

  sonarqube:
    container_name: sonarqube
    image: 'sonarqube:lts-community'
    ports:
      - '${SONAR_API_PORT}:9000'
      - '9002:9002'
    volumes:
      - '/c/Users/Iv치n/Desktop/sonarqube/data:/opt/sonarqube/data'
      - '/c/Users/Iv치n/Desktop/sonarqube/conf:/opt/sonarqube/conf'
      - '/c/Users/Iv치n/Desktop/sonarqube/logs:/opt/sonarqube/logs'
      - '/c/Users/Iv치n/Desktop/sonarqube/extensions:/opt/sonarqube/extensions'
    logging:
      driver: none

networks: 
  default:
    name: thunder-link-network